.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    border-top: 2px solid #fff;
    text-align: center;
    border-bottom: 2px solid #fff;
}
.wrapper h2{
    color: green;
    font-size: 34px;

}

