.container{
    ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom:2px solid #ADB0B6;
        .avatar{
            min-width: 80px;
            padding: 10px;
            color: #ADB0B6;
        }
        .column{
            min-width: 200px;
            padding: 10px;
            color: #ADB0B6;
            text-align: left;
            // border-left: 1px solid #000;
        }
        .fullname{
            min-width: 200px;
        }
        .phone{
            min-width: 150px;
        }
        .email{
            min-width: 250px;
        }

    }
}