.massege{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        color: red;
        text-align: center;
        font-size: 54px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 40%;
    }
}
.contacts{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    border-top: 2px solid#ADB0B6;
    text-align: center;
    .field{
        color: #ADB0B6;
        padding: 20px;
    }
    .userInfo{
        display: flex;
        justify-content:space-between;
        border-bottom:2px solid #ADB0B6;
        align-content: center;
        list-style: none;
        .avatar{
            border-radius: 50%;
            width: 75px;
            height: 75px;
            padding: 10px;
        }
        p{
            min-width: 200px;
            padding: 10px;
            color:#ADB0B6;
            text-align: left;
            // border-left: 1px solid #000;
        }
        .fullname{
            min-width: 150px;
            color:#1B90FF;
            cursor: pointer;
        }
        // .phone{
        //     min-width: 150px;
        //     color:#1B90FF;
        //     cursor: pointer;
        // }
        // .email{
        //     min-width: 250px;
        //     color:#1B90FF;
        //     cursor: pointer;
        // }
        .location{
            margin-left: 100px;
        }
        .nationality{
            padding-left: 30px;
        }
    }    
}
