    .container{ 
        background-color: rgba(0,0,0,0.07);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: #ADB0B6;
        text-align: left;
        padding: 10px;
        .avatar{
            min-width: 100px;
            padding-left: 15px;
        }
        .fullname{
            min-width: 200px;
        }
        .birth{
            min-width: 200px;
            color: #ADB0B6;
        }
        .fullname{
            min-width: 200px;
        }
        .phone{
            min-width: 150px;
        }
        .email{
            min-width: 270px;
        }
        .local{
            min-width: 150px;
        }
        .nation{
            min-width: 100px;
            text-align: right;
        }

    }
