.nationality-sort{
    width:20%;
    border: 2px solid  #ADB0B6;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
.nationality-sort-focus{
    width:20%;
    border: 2px solid  #ADB0B6;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;

}